a {
  color: #C8DEFB;
}

h2 {
  text-align: center;
}

body {
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#cell {
  text-align: center;
}

.container {
   overflow: hidden;
   background: grey;
   display: flex;
}
.main-left {
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 40%;
  background: #3172CA;
  padding: 600px 5% 570px;
  color: #102A4F;
  flex: 1;
}
.main-right {
  float: right;
  width: 40%;
  background: #04306F;
  padding: 50px 5% 50px;
  color: #C8D5E8;
  flex: 1;
}

.codespan{
  padding: 0 0.25rem;
  margin: 0 0.0625rem;
  border-radius: 0.125rem;
  color: #15141f;
  background-color: #eae9ed;
  white-space: normal;
  vertical-align: initial;
  font-family: Monaco,Menlo,Ubuntu Mono,Droid Sans Mono,Consolas,monospace;
  font-size: .8em;
}
